.map {
  width: 100%;
  height: 100%;
  border-radius: 9px;
  position: relative;
}

.Loading {
  width: 100%;
  margin: auto 0;
}

.zoom-buttons {
  position: absolute;
  top: 11rem;
  left: 2.8rem;
  display: flex;
  flex-direction: column;
}

.zoom-button {
  background-color: #fff;
  border: 1px solid #ccc;
  color: #333;
  font-size: 20px;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, color 0.3s;
}

.zoom-button:hover {
  background-color: #007bff;
  color: #fff;
}

.zoom-in {
  border-radius: 5px 5px 0 0;
}

.zoom-out {
  border-radius: 0 0 5px 5px;
}

/*624*/
@media (max-width: 48em) {
  .zoom-buttons {
    top: 15.8rem;
  }
}

/*400*/
@media (max-width: 25em) {
  .zoom-buttons {
    top: 20.2rem;
  }
}
